
= Android - Tutorial
:linkcss:
:sectnums:                                                          
:experimental:
:icons:
:imagesdir: ./img
(c) 2009, 2016 vogella GmbH
Version 0.3, 06.07.2016
:docinfodir: ../
:vgwort: 

[abstract]
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.vogella.com/ui/e4/extension"
            class="de.vogella.e4.renderer.modelextension.extension.ExtensionPackage"
            genModel="model/UIExtensions.genmodel"/>
   </extension>

</plugin>
