
= Android - Tutorial
:linkcss:
:sectnums:                                                          
:experimental:
:icons:
:imagesdir: ./img
(c) 2009, 2016 vogella GmbH
Version 0.3, 06.07.2016
:docinfodir: ../
:vgwort: 

[abstract]
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="de.vogella.extensionpoint.greeters"
		name="Greeters" 
		schema="schema/de.vogella.extensionpoint.greeters.exsd" />
</plugin>